/*
 * @Author: heinan 
 * @Date: 2019-12-05 11:47:26 
 * @Last Modified by: heinan
 * @Last Modified time: 2019-12-23 16:51:53
 */
body {
  font-size: 12px;
}

.wraper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.content {
  flex: 1;
  position: relative;
}

.footer {
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
}

.menu-title {
  color: #eee;
  font-size: 16px;
  padding-top: 35px;
  box-sizing: border-box;
  height: 80px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
